* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wcEditorCanvas {
    flex: 1;
    padding: var(--spacing-4);
}

.gjs-editor {
    box-shadow: var(--gjs-editor-box-shadow);
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        background-color:#282828;
        background-size:16px 16px;
}

.gjs-cv-canvas {
    /*
    --big-rect: 100px;
    --small-rect: 20px;
    */
    --big-rect: 80px;
    --small-rect: 16px;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size: var(--big-rect) var(--big-rect), var(--big-rect) var(--big-rect), var(--small-rect) var(--small-rect), var(--small-rect) var(--small-rect);
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* Blocks */
#wcEditorBlocks {
    display: flex;
    flex-direction: column;
    gap: var(--gjs-flex-item-gap);
    margin: 0;
    background-color: var(--gjs-primary-color);
}

.gjs-blocks-c {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--gjs-flex-item-gap);
    margin: 0;
    padding: var(--spacing-2);
    background-color: var(--gjs-primary-color);
}

.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
}


/* Panel Top */
.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: space-between;
}

.panel__basic-actions {
    position: initial;
}

/* Panel Right */
.panel__switcher {
    position: initial;
}

/* Layers Manager */
.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
}

.editor-canvas {
    flex-grow: 1;
}

.panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
    background-color: var(--gjs-primary-color);
}


/* Style Manager */



/* Device Manager */
.panel__devices {
    position: initial;
  }